.Card {
  width: 30%;
  border-radius: 1em;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.507);
  background-color: rgb(40, 72, 94);
  text-align: center;
  /* border: 2px solid rgb(0, 0, 0); */
}

.cardTitle {
  color: rgb(148, 209, 245);
}
.cardTitle:hover {
  color: cyan;
}

.like-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* For mobile screens */
@media (max-width: 768px) {
  .like-button-container {
    flex-direction: column;
  }
  .like-button {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 8px 16px;
    border-width: 1px;
  }
}
